/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    /* GitHub dark theme gradient */
    background: linear-gradient(to right, #0D1117, #161B22);
    font-size: 16px;
}


header,
footer {
    text-align: center;
    padding: 1rem;
    background: #21262D;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 20px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the sections on the main axis */
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.rounded-section {
    background-color: rgba(255, 255, 255, 0.1);
    /* Translucent white for Gaussian-like effect */
    backdrop-filter: blur(10px);
    /* Gaussian blur */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    /* Darker shadow for depth */
    padding: 20px;
    margin: 20px;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    min-width: 300px;
    color: #C9D1D9;
    /* Ensuring text is readable on darker backgrounds */
}

.rounded-section p {
    margin-bottom: 20px;
}

/* Responsive Image Styling */
#About_me img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Darker shadow for better effect */
}

#My_interest img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Darker shadow for better effect */
}

/* Back to Top Button Styling */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #238636;
    /* GitHub green for branding consistency */
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

#back-to-top:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .rounded-section {
        max-width: calc(33.333% - 20px);
        /* Adjust for three columns */
    }

    body {
        font-size: 25px;
        /* Larger font size for desktop */
    }
}

/* mouse hover effect */

a:hover {
    color: #1F6FEB;
    /* Lighter blue for hover */
    text-decoration: underline;
    /* Reintroduces underline on hover for emphasis */
}

a {
    color: #58A6FF;
    /* GitHub blue for regular link color */
    text-decoration: none;
    /* Optional: removes underline from links */
    transition: color 0.3s ease;
    /* Smooth color transition for hover effect */
}